/* Primary CSS for the website */
/* Contains several shared attributes between views */

/* Apply to all components within the body */
body {
  margin: 0;
  padding: 0;
  line-height: 1.5em;
  font-family: Tahoma, Arial, serif;
  background: #5494b5;
}

ul {
  display: block;
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

a {
  padding: 0 5px;
  text-decoration: none;
}

a.visited {
  color: black;
}

a.underline {
  text-decoration: underline;
}

div#top {
  background: #858585;
  height: 80px;
}

div#banner {
  position: absolute;
  left: 30px;
  top: 20px;
}

ul#top_menu {
  position: absolute;
  right: 0px;
  top: 20px;
  margin-right: 200px;
}

ul#top_menu li {
   display: inline;
   border-left: 1px solid white;
   padding: 3px 2px;
}

ul#top_menu li a {
  padding: 3px;
  color: white;
}

ul#top_menu li .sb-inner {
  background: transparent;
}

ul#top_menu li.selected .sb-inner {
  background:#2785b5;
}

ul#top_menu li:hover  .sb-inner{
  background: #8ca7b5;
}

/* Applies to both side columns */
div.body_border {
  width: 200px;
}

div.main {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

div#main_container {
  background-position: right;
}

div.body_border {
  width: 200px;
}

div#left {
 float: left;
}

div#right {
  float: right;
}

div#centre {
 /* margin: 0 200px;*/
  padding: 5px 10px;
  background: white;
  border-top: 2px solid #5494b5;
}


div#footer {
  clear: left;
  width: 100%;
  background: black;
  padding: 5px 0;
}

p.clear_float {
  clear:both;
  display: block;
  height: 1px;
  overflow: hidden;
  margin: 0;
  padding: 0;
}