body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}


/* CSS Document */

body{background-color:#ededed;margin:0 auto;}

/* top Banner*/
.banner{ margin:auto; width:984px; background-color: #736F6E; padding:0;height:150px;width:auto;color :white; text-align:right;font-family:Verdana, Arial, Helvetica, sans-serif}


/* heading */

.pinkHeading{color: #F52887; font-size:25px; font-family:Verdana, Arial, Helvetica, sans-serif;text-align:left}



/*format */


.align{text-align:center}

.left_border{border-left:100px solid #6698FF}

.left_panel{ padding: 5px; width:200px; margin:5px 5px 10px 18px; float:left;}

.date_picker {
  /* comment out this line to show by default: */
  display: none;
  /* comment out this line to prevent calendar 'floating' over page: */
  position: absolute;
  background-color: #eee;
  
  padding: 3px;
  border: 1px solid silver;
}

#ForFullBg {
   background-color:white; 
}


.date_picker table {
  border:        1px solid silver;
  border-top:    2px solid silver;
  border-bottom: 3px solid silver;
  font-family: verdana, sans-serif;
}
.date_picker th {
  font-size: 10px;
  color: #333;
  text-align: center;
}

.date_picker .day_labels th {
  color: darkgreen;
  font-size: 9px;
  font-weight: normal;
}

.date_picker td {
  width: 18px;
  /*background-color: #ddd;*/
  font-size: 9px;
  text-align: right;
}

.date_picker a {
  text-decoration: none;
  border-bottom: 1px dotted silver;
  color: #333;
}

.date_picker a:hover   { color:white ; background-color: black}

.date_picker .cancel_butt { text-align: right; padding-right: 5px }
.date_picker .cancel_butt a {
  font-size: 9px;
  color: gray;
  font-family: verdana, sans-serif;
  text-decoration: none
}
.date_picker .cancel_butt a:hover {
  background-color: gray;
  color: white;
}

.cal_today a {
  color: white;
  background-color: #488AC7;
  font-weight: bold;
}
#holiday a {
  color: red;
}
#ForTopCal {
  background-color:white;
} 

td.checkbox1 input {
  width: 18px;
  border: 1px solid green;
  /*  margin-right: 5px;*/
  margin:0px;    
}


.tableheadleft {
	FONT-SIZE: 10px;
	Background-color:#b1b1b1;
	COLOR: #FFFFFF;
	FONT-FAMILY: verdana, Helvetica, sans-serif;
	font-weight:bold;
	padding:0 0 0 5px;
	height:20px;
	text-align:left;
}

.tableheadright {
	FONT-SIZE: 10px;
	Background-color:#b1b1b1;
	COLOR: #FFFFFF;
	FONT-FAMILY: verdana, Helvetica, sans-serif;
	font-weight:bold;
	padding:0 0 0 5px;
	height:20px;
	text-align:right;
}

.evenrow td{
	padding: 4px 4px 4px 10px;
}
.oddrow td{
	padding: 4px 4px 4px 10px;
}


.headright{
	Background-color:#989898;
	Color:#FFFFFF;
	Font-Family: Verdana, Helvetica, Sans-serif;
	Font-size:10px;
	Font-weight:bold;
	TEXT-DECORATION: none;
	Text-Align:right;
	height: 20px;
	padding:0px 0px 0px 5px;	
}

.headleft{
	Font-weight:bold;
	Text-Align:left;
	height: 20px;
	padding:0px 0px 0px 5px;	
}

/*.oddrow{
	Font-weight:normal;
	vertical-align: middle;
	Text-align:Left;
	padding:0px 0px 0px 10px;
}

.evenrow{
	Background-color:#FFFFFF;
	Color:#818181;
	Font-Family: Verdana, Helvetica, Sans-serif;
	Font-size:10px;
	TEXT-DECORATION: none;	
	Font-weight:normal;
	vertical-align: middle;
	Text-align:Left;
	padding:0px 0px 0px 10px;
}
*/
.datepattern {
/*    height:30px;*/
 /*   width:200px;*/
}
.datedisplay {
    font-weight:bold;
}

.weekstyle {
    border:0px solid #ADDFFF; 
    border-bottom-color:#ADDFFF; 
    border-bottom:1px solid #ADDFFF;
    border-top:1px solid thick #ADDFFF;
    border-right:1px solid #ADDFFF;
    font-family:Arial; 
    font-weight:Italic;
    font-size:8pt;
    height:40px;
    width: 100px; 
}

.td_style1 { 
    border:0px solid #ADDFFF; 
    border-bottom-color:#ADDFFF; 
    border-bottom:1px solid #ADDFFF;
    border-top:1px solid thick #ADDFFF;
    border-right:1px solid #ADDFFF;
    font-family:Arial; 
    font-weight:Italic;
    font-size:8pt;
    height:40px;
  background-color:transparent; 
      
  } 
  .td_style2 { 
    border:0px solid #ADDFFF; 
    border-right-color:#ADDFFF;
    border-top:1px solid thick #ADDFFF;
    border-bottom:1px solid #ADDFFF;
    border-left:1px solid #ADDFFF; 
    border-right:1px solid #ADDFFF;
    font-family:Arial; 
    font-weight:Italic;
    font-size:8pt;
    text-align:center;
    width:70px;
   
           
 }
 .td_sty {
    margin-bottom:3px;
    font-family:Arial; 
    font-weight:Italic;
    font-size:8pt;
    text-align:center;
    width:70px;
    
 }
.timehead {
   width:100px; 
} 
