<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Church Finder</title>
<link href="/stylesheets/Style.css" rel="stylesheet" type="text/css" />
</head>

<body>


<div  class="banner">
About   <br /><br /><br />
<div class="pinkHeading">
www.churchfinder.com 
</div>
</div>

<div class="left_border">

<div class="left_panel">



<p> churchfinder.com is a free service that lists Christian church service times
    and events  in the USA. To begin your search enter your starting address.	   <br /><br /><br />

[Click Here]To view list of areas covered by our service We are seeking volunteers in other areas 
to add several churches in their area to our database. Just [REGISTER] here and get
started in helping those new to your area find a church near you.
</p>
</div>

<%=yield%>

</BODY></HTML>